body {
  background-color: #87CEEB; /* Azul claro */
  font-family: Arial, sans-serif;
  text-align: center;
}

#title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.heart {
  color: #FF0000; /* Rojo */
  font-size: 24px;
}

.error-message {
  color: #FF0000; /* Rojo */
  font-size: 18px;
  font-weight: bold;
}

.correct-message {
  color: #008000; /* Verde */
  font-size: 18px;
  font-weight: bold;
}

.question-container {
  margin-top: 20px;
}

.question {
  font-size: 18px;
  margin-bottom: 10px;
}

.input-field {
  width: 50%;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
}

.option {
  margin-bottom: 10px;
}

.option input[type="radio"] {
  margin-right: 10px;
}

.next-button {
  background-color: #4CAF50; /* Verde */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.next-button:hover {
  background-color: #3e8e41; /* Verde oscuro */
}
